@charset "UTF-8";
/*
    typical device breackpoints
----------------------------------
Pequenas telas: até 600px
Celular: 600px a 768px
Tablet: 768px a 992px
Desktop: 992px a 1200px
Grandes telas: acima de 1200px
----------------------------------
*/
@media print{ /*impressão*/
   
}
@media screen and (min-height: 767px){

    main > section#od > .formulario > form > #logform{
        display: flex;
        transition: linear 0.3s;
    }
    
}

@media  screen and (max-width : 459px) {
    #quemsomos > #auxquemsomos > .tituloh1 > h1{
        text-align: center;
        
    }
    #quemsomos > #auxquemsomos > .tituloh1 > span{
        transform: translate(0%, -42%);
    }
    
}
@media screen and (max-width: 767px) {
    main > section#prodsprincipal{
        width: 90vw;
        height: max-content;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){ /*tablet*/ 
    
    #princimarcas::-webkit-scrollbar{
        display: block;
    }
    #depoimentos::-webkit-scrollbar{
        display: block;
    }
    main{
        padding-top: 48px;
        transition: linear 0.6s;
        
    }
  
    nav > span{
        font-size: x-large;
        transition: linear 0.6s;
    }
    span#burguer, span#mail, span#arrow-left, #sifra{
        font-size: xx-large;
        transition: linear 0.6s;
    }
    nav > .logo{
        width: 50px;
        height: 50px;
        transition: linear ease-in-out 0.6s;
    }
    main > section#capa{
        height: 80vh;
        transition: linear 0.6s;
    }
   #card-fret > p{
    font-size: x-large;
    transition: linear 0.6s;
   }
   #card-fret > p > span{
    font-size: x-large;
    transition: linear 0.6s;
   }
   .orçamento > a > h1{
    font-size: large;
    transition: linear 0.6s;
   }
   .orçamento > a:hover{
    box-shadow: 0px 0px 8px ;
    width: 49vw;
    transition: linear 0.6s;
   }
   .orçamento > a{
    width: 48vw;
    transition: linear 0.6s;
   }
   .orçamento > a > #phone{
    font-size: x-large;
    transition: linear 0.6s;
   }
   .tituloh1 > h1{
    font-size: x-large;
    transition: linear 0.6s;
   }
   .tituloh1 > #topicoh1{
    font-size: xx-large;
    transition: linear 0.6s;
   }
   main > #prodsprincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: linear 0.6s;
   }
   main > #prodsprincipal > .prodsprincihome{
    height: 350px;
    width: 350px;
    margin: 20px 0px;
    transition: linear 0.6s;
   }
   main > #prodsprincipal > .prodsprincihome > img{
    height: 350px;
    width: 350px;
    transition: linear 0.6s;
   }
   main > #prodsprincipal > .prodsprincihome > span > a{
    font-size: xx-large;
    transition: linear 0.6s;
   }
   main > #prodsprincipal > .prodsprincihome > span {
    
    width: 350px;
    transition: linear 0.6s;
   }
   #card-formaspag > article > article > h1{
    font-size: x-large;
    transition: linear 0.6s;
   }
   #card-formaspag > article > article > h1 > #cartao, #boleto, #pix{
    font-size: x-large;
    transition: linear 0.6s;
   }
   #card-formaspag > article > article > img{
    width: 200px;
    height: 200px;
    transition: linear 0.6s;
   }
   #card-formaspag > #pagseguro{
    height: 150px;
    
}
   #princimarcas > #auxmarcas > .marcas{
        width: 400px;
        height: 400px;
        transition: linear 0.3s;
   }
   #quemsomos >  #auxquemsomos > p{
    font-size: large;
    transition: linear 0.6s;
   }
   #quemsomos > #paralax{
    width: 80%;
    height: 500px;
    
   
}
   #depoimentos{
    transition: linear 0.6s;
   }
   .dep > img{
    width: 100px;
    height: 100px;
    transition: linear 0.6s;
   }
   .dep > p{
    font-size: large;
    transition: linear 0.6s;
   }
   .dep > p > q{
    font-size: medium;
    transition: linear 0.6s;
   }
   .whatsapp1 > a{
    width: 60px;
    height: 60px;
   }
   footer > .footer > ul{
    flex-direction: row;
}
}
@media screen and (min-width: 992px) { /*desktop*/
    #princimarcas > #auxmarcas::-webkit-scrollbar{
        display: block;
        
    }
    #princimarcas > #auxmarcas::-webkit-scrollbar-thumb{
        background-color:  black;
        width: 100px;
        height: 20px;
        border-radius: 50px;
        cursor: pointer;
    }
    #depoimentos::-webkit-scrollbar{
        display: block;
        
    }
    #depoimentos::-webkit-scrollbar-thumb{
        background-color:  black;
        width: 50px;
        height: 20px;
        border-radius: 50px;
        cursor: pointer;
    }
    main{
        padding-top: 48px;
        transition: linear 0.6s;
        
    }
    nav > span{
        font-size: x-large;
        transition: linear 0.6s;
    }
    span#burguer, span#mail, span#arrow-left, #sifra{
        font-size: xx-large;
        transition: linear 0.6s;
    }
    nav > .logo{
        width: 50px;
        height: 50px;
        transition: linear ease-in-out 0.6s;
    }
    main > section#capa{
        height: 90vh;
        transition: linear 0.6s;
    }
    main > section#capa > #banner2{
        display: flex;
        width: 100%;
        height: 100%;
        transform: translate(0%, -1.2%);
        transition: linear 0.3s;
    }
    main > section#capa > #banner1{
        display: none;
    }
   #card-fret > p{
    font-size: x-large;
    transition: linear 0.6s;
   }
   #card-fret > p > span{
    font-size: x-large;
    transition: linear 0.6s;
   }
   .orçamento > a > h1{
    font-size: large;
    transition: linear 0.6s;
   }
   .orçamento > a:hover{
    box-shadow: 0px 0px 8px ;
    width: 37vw;
    transition: linear 0.6s;
   }
   .orçamento > a{
    width: 36vw;
    transition: linear 0.6s;
   }
   .orçamento > a > #phone{
    font-size: x-large;
    transition: linear 0.6s;
   }
   .tituloh1 > h1{
    font-size: x-large;
    transition: linear 0.6s;
   }
   .tituloh1 > #topicoh1{
    font-size: xx-large;
    transition: linear 0.6s;
   }
   main > #prodsprincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: linear 0.6s;
   }
   main > #prodsprincipal > .prodsprincihome{
    height: 350px;
    width: 350px;
    margin: 20px 0px;
    transition: linear 0.6s;
   }
   main > #prodsprincipal > .prodsprincihome > img{
    height: 350px;
    width: 350px;
    transition: linear 0.6s;
   }
   main > #prodsprincipal > .prodsprincihome > span > a{
    font-size: x-large;
    transition: linear 0.6s;
}
   main > #prodsprincipal > .prodsprincihome > span {
    width: 350px;
    transition: linear 0.6s;
}
   #card-formaspag > article > article > h1{
    font-size: x-large;
    transition: linear 0.6s;
}
   #card-formaspag > article > article > h1 > #cartao, #boleto, #pix{
    font-size: x-large;
    transition: linear 0.6s;
}
   #card-formaspag > article > article > img{
    width: 200px;
    height: 200px;
    transition: linear 0.6s;
}
   #card-formaspag > #pagseguro{
    width: 75vw;
    height: 170px;
    border-radius: 8px;
}
   #princimarcas > #auxmarcas > .marcas{
    width: 500px;
    height: 400px;
    transition: linear 0.3s;
}
#quemsomos{
    flex-direction: row;
    justify-content: center;
   }
  #auxquemsomos{
    width: 50%;
    height: 400px;
  }
  #quemsomos > #paralax{
    width: 50%;
    height: 400px;
  }
   #quemsomos > p{
    font-size: large;
    transition: linear 0.6s;
   }
   #depoimentos{
    transition: linear 0.6s;
   }
   .dep{
    width: 400px;
    opacity: 0.7;
    transition: linear 0.6s;
   }
   .dep:hover{
    opacity: 1;
    transition: linear 0.6s;
   }

   .dep > img{
    width: 100px;
    height: 100px;
    transition: linear 0.6s;
   }
   .dep > p{
    font-size: large;
    transition: linear 0.6s;
   }
   .dep > p > q{
    font-size: large;
    transition: linear 0.6s;
   }
   .whatsapp1 > a{
    width: 50px;
    height: 50px;
    transition: linear 0.3s;
    box-sizing: border-box;
   }
  
    main > #prodsprincipal > .prodsprincihome > span > a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.062);
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0);
        
    }
    main > #prodsprincipal > .prodsprincihome > span > a:hover{
        background-color: rgba(255, 255, 255, 0.527);
        color: white;
        transition: linear 0.6s;
        
    }
    footer > .footer > ul{
        flex-direction: row;
    }
}
